In [7]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 2.0.30
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: /opt/anaconda3/lib/python3.11/site-packages
Requires: typing-extensions
Required-by:

In [35]:

!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp311-cp311-macosx_13_0_arm64.whl (13.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.4/13.4 MB 56.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [42]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass
import os
from dotenv import load_dotenv
import mysql.connector

In [45]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        password='password')

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [41]:
import os
from dotenv import load_dotenv
import mysql.connector
import pandas as pd

# Load environment variables from the .env file
load_dotenv()

# Retrieve environment variables
DB_HOST = os.getenv('DB_HOST')
DB_PORT = os.getenv('DB_PORT')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_NAME = os.getenv('DB_NAME')

# Check if any of the environment variables are None
if None in [DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, DB_NAME]:
    raise ValueError("One or more environment variables are not set. Please check your .env file.")

# Create the database URL
database_url = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Establish a connection to the MySQL database
try:
    engine = create_engine(database_url)
    connection = engine.connect()
    print("Connected to MySQL database")

    # List all tables in the database
    tables = connection.execute("SHOW TABLES;").fetchall()
    print("Tables in the database:")
    for table in tables:
        print(table[0])

except Exception as err:
    print(f"Error: {err}")
finally:
    connection.close()
    print("MySQL connection is closed")

ValueError: One or more environment variables are not set. Please check your .env file.

In [13]:
# 1.

bd= 'sakila'
connection_string = f'mysql+pymysql://root:{getpass.getpass()}@localhost/{bd}'
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [33]:
try:
    connection = mysql.connector.connect(
        host=DB_HOST,
        port=DB_PORT,
        user=DB_USER,
        password=DB_PASSWORD,
        database=DB_NAME
    )
    if connection.is_connected():
        print("Connected to MySQL database")

        # Specified month and year
        month = 5
        year = 2005

        # Get rental counts for the specified month and year
        result = rental_count_month_sql(connection, month, year)
        print(result)

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

AttributeError: 'Connection' object has no attribute 'is_connected'

In [32]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)

result

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'sakila.loan' doesn't exist")
[SQL: SELECT * FROM loan]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [30]:
# 2.
# Function rentals_month that retrieves the number of rental data montly and year (as parameters) from sakila database as pd. The function should take engine, month and year as parameters:

def rentals_month(engine, month, year):
    query = f"""
    SELECT
        COUNT(rental_id) AS rentals
    FROM
        rental
    WHERE
        MONTH(rental_date) = {month}
        AND YEAR(rental_date) = {year}
    """
    data = pd.read_sql(query, engine)
    return data

# Calling the function

rentals_month = rentals_month(engine, 2, 2005)

rentals_month

   rentals
0        0

Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

In [31]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('path_to_your_database.db')

# Create a cursor object
cursor = connection.cursor()

# List all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:

In [27]:
# 3.

import sqlite3

def rental_count_month_sql(connection, month, year):
    # Convert month and year to string with zero padding if necessary
    month_str = f"{int(month):02d}"
    year_str = str(year)
    
    # Define the SQL query
    query = f"""
    SELECT 
        customer_id, 
        COUNT(*) AS rentals_{month_str}_{year_str}
    FROM 
        rental
    WHERE 
        strftime('%m', rental_date) = '{month_str}' 
        AND strftime('%Y', rental_date) = '{year_str}'
    GROUP BY 
        customer_id
    """
    
    # Execute the query and return the result as a DataFrame
    return pd.read_sql_query(query, connection)

# Example usage:
# Assuming you have a SQLite database connection
connection = sqlite3.connect('path_to_your_database.db')

# Specified month and year
month = 5
year = 2005

# Get rental counts for the specified month and year
result = rental_count_month_sql(connection, month, year)
print(result)

DatabaseError: Execution failed on sql '
    SELECT
        customer_id,
        COUNT(*) AS rentals_05_2005
    FROM
        rental
    WHERE
        strftime('%m', rental_date) = '05'
        AND strftime('%Y', rental_date) = '2005'
    GROUP BY
        customer_id
    ': no such table: rental